openapi: 3.0.1
info:
  title: PIX Api
  version: v1
servers:
  - url: 'https://pix-hmg.sec-hub.com.br/v1'
paths:
  /analysis/entries:
    post:
      tags:
        - Analysis
      summary: Generate an analysis for an entry.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntryCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateEntryCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateEntryCommand'
      responses:
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntryResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/EntryResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/EntryResultDto'
  /analysis/transfers:
    post:
      tags:
        - Analysis
      summary: Generate an analysis for a transfer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateTransferCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateTransferCommand'
      responses:
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
  /authentication:
    post:
      tags:
        - Authentication
      summary: Request a token.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateTokenCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateTokenCommand'
      responses:
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TokenDto'
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDto'
            text/json:
              schema:
                $ref: '#/components/schemas/TokenDto'
  /feedback/entries:
    post:
      tags:
        - Feedback
      summary: Send an entry for feedback.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntryCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateEntryCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateEntryCommand'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
  /feedback/transfers:
    post:
      tags:
        - Feedback
      summary: Send a transfer for feedback.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateTransferCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateTransferCommand'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/TransferResultDto'
  /feedback/frauds:
    post:
      tags:
        - Feedback
      summary: Send a fraud for feedback.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFraudCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateFraudCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateFraudCommand'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FraudResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/FraudResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/FraudResultDto'
components:
  schemas:
    AddressDto:
      required:
        - zipCode
      type: object
      properties:
        zipCode:
          type: string
          description: Customer address zipcode.
        street:
          type: string
          description: Address street.
          nullable: true
        number:
          type: string
          description: Number in street.
          nullable: true
        complement:
          type: string
          description: 'Addres complement, e.g apartament 12.'
          nullable: true
        district:
          type: string
          description: City district
          nullable: true
        city:
          type: string
          description: Customer city
          nullable: true
        state:
          type: string
          description: Customer state
          nullable: true
        country:
          type: string
          description: Customer country
          nullable: true
    AccountDto:
      required:
        - accountNumber
        - accountType
        - branch
        - participant
      type: object
      properties:
        participant:
          type: string
          description: Bank number.
        branch:
          type: string
          description: Bank account agency.
        accountNumber:
          type: string
          description: Bank account number.
        accountType:
          type: string
          description: 'Account Type, e.g.: "CACC", "SLRY", "SVGS".'
    CreateEntryCommand:
      required:
        - account
        - document
        - documentType
        - email
        - keyType
        - name
        - phone
        - reason
      type: object
      properties:
        reason:
          type: string
          description: >-
            Reasons for Entry, it is the same field sent for DICT transaction by
            the participant, options available: "USER_REQUESTED",
            "ACCOUNT_CLOSURE", "BRANCH_TRANSFER", "ENTRY_INACTIVITY" and
            "RECONCILIATION".
        requestId:
          type: string
          description: >-
            UUID version 4 value and must be unique in the context of the same
            participant, it is the same field sent for DICT transaction by the
            participant.
          nullable: true
        name:
          type: string
          description: >-
            Person or organization name, it is the same value used for DICT
            transaction on 'Onwner' object.
        document:
          type: string
          description: >-
            Document value, only numbers without format, e.g.: "12345678901"
            (for CPF) or "12345678901234" (for CNPJ).
        documentType:
          type: string
          description: 'Document type, options available: "CPF" and "CNPJ".'
        phone:
          type: string
          description: >-
            Complete phone number including country code, area code and number,
            e.g.: "+5510998765432"
        email:
          type: string
          description: Email account.
        verifiedPhone:
          type: boolean
          description: Phone number has been verified. Default value is false.
        verifiedEmail:
          type: boolean
          description: Email account has been verified. Default value is false.
        address:
          $ref: '#/components/schemas/AddressDto'
        evp:
          type: string
          description: EVP value generated and used for DICT transactions.
          nullable: true
        keyType:
          type: string
          description: >-
            Key type on DICT transaction, options available: "CPF", "CNPJ",
            "PHONE", "EMAIL", "EVP".
        account:
          $ref: '#/components/schemas/AccountDto'
        referenceDate:
          type: string
          description: Transaction UTC datetime value.
          format: date-time
        sessionId:
          type: string
          description: SessionId value used in behavior analytics integration.
          nullable: true
        fingerprintVariables:
          type: object
          description: Fingerprint variables information.
          nullable: true
    ScoreDto:
      type: object
      properties:
        value:
          type: number
          description: Score value.
          format: double
        reason:
          type: string
          description: A reason description for score.
          nullable: true
        date:
          type: string
          description: Score processing date.
          format: date-time
    RatingDto:
      type: object
      properties:
        value:
          type: integer
          format: int32
        relatedTo:
          type: array
          items:
            type: string
          nullable: true
    InsightDto:
      type: object
      properties:
        code:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        relevance:
          type: string
          nullable: true
        relatedTo:
          type: array
          items:
            type: string
          nullable: true
    EntryResultDto:
      type: object
      properties:
        id:
          type: string
          nullable: true
        score:
          $ref: '#/components/schemas/ScoreDto'
        ratings:
          type: array
          items:
            $ref: '#/components/schemas/RatingDto'
          nullable: true
        insights:
          type: array
          items:
            $ref: '#/components/schemas/InsightDto'
          nullable: true
    UrlInfoDto:
      type: object
      properties:
        url:
          type: string
          description: Url value.
          nullable: true
        ip:
          type: string
          description: Url ip value.
          nullable: true
    QrCodeInfoDto:
      type: object
      properties:
        value:
          type: string
          description: QRCode value for fixed/dynamic qrcode.
          nullable: true
        dynamicUrl:
          $ref: '#/components/schemas/UrlInfoDto'
    DocumentInfoDto:
      required:
        - document
        - documentType
      type: object
      properties:
        documentType:
          type: string
          description: >-
            Document value, only numbers without format, e.g.: "12345678901"
            (for CPF) or "12345678901234" (for CNPJ).
        document:
          type: string
          description: 'Document type, options avaiable: "CPF" and "CNPJ".'
    EntryKeyDto:
      required:
        - type
        - value
      type: object
      properties:
        value:
          type: string
          description: "Key Value on DICT\r\n\r\nIn case of CPF or CNPJ type use only numbers e.g.: \"12345678901\" (for CPF) or \"12345678901234\" (for CNPJ).\r\n\r\nIn case of PHONE use complete phone number including country code, area code and number e.g.: \"+5510998765432\"."
        type:
          type: string
          description: >-
            Key type on DICT, options available: "CPF", "CNPJ", "PHONE",
            "EMAIL", "EVP".
    TransferRecipientInfoDto:
      required:
        - account
        - info
        - key
      type: object
      properties:
        info:
          $ref: '#/components/schemas/DocumentInfoDto'
        account:
          $ref: '#/components/schemas/AccountDto'
        key:
          $ref: '#/components/schemas/EntryKeyDto'
    TransferSenderInfoDto:
      required:
        - account
        - info
      type: object
      properties:
        info:
          $ref: '#/components/schemas/DocumentInfoDto'
        account:
          $ref: '#/components/schemas/AccountDto'
    CreateTransferCommand:
      required:
        - amount
        - channel
        - currency
        - endToEndId
        - recipient
        - sender
        - transactionType
      type: object
      properties:
        transactionType:
          type: string
          description: 'Message type used on SPI transaction, e.g.: "PACS.008", "PACS.004".'
        endToEndId:
          type: string
          description: >-
            Unique identification assigned by the initiating party to
            unambiguously identify the transaction, same value used on PACS.008
            and PACS.004 message.
        txId:
          type: string
          description: >-
            Transaction Identification used on PACS messages for SPI on PIX
            transactions by QRCode or Link.
          nullable: true
        channel:
          type: string
          description: >-
            Channel origin for the transaction, options available: "WEB",
            "MOBILE" and "AGENCY".
        qrCode:
          $ref: '#/components/schemas/QrCodeInfoDto'
        urlLink:
          $ref: '#/components/schemas/UrlInfoDto'
        recipient:
          $ref: '#/components/schemas/TransferRecipientInfoDto'
        sender:
          $ref: '#/components/schemas/TransferSenderInfoDto'
        currency:
          type: string
          description: Currency used on transfer.
        amount:
          type: number
          description: Amount value on transfer.
          format: double
        referenceDate:
          type: string
          description: Transaction datetime value.
          format: date-time
        sessionId:
          type: string
          description: SessionId value used in behavior analytics integration.
          nullable: true
        fingerprintVariables:
          type: object
          description: Fingerprint variables information.
          nullable: true
    TransferResultDto:
      type: object
      properties:
        id:
          type: string
          nullable: true
        score:
          $ref: '#/components/schemas/ScoreDto'
        ratings:
          type: array
          items:
            $ref: '#/components/schemas/RatingDto'
          nullable: true
        insights:
          type: array
          items:
            $ref: '#/components/schemas/InsightDto'
          nullable: true
    CreateTokenCommand:
      required:
        - password
        - username
      type: object
      properties:
        username:
          type: string
          description: Username for API authentication.
        password:
          type: string
          description: Password for API authentication.
    TokenDto:
      required:
        - expiresInMinutes
        - token
      type: object
      properties:
        token:
          type: string
          description: Token value for use in authenticated endpoints.
        expiresInMinutes:
          type: integer
          description: Value in minutes for token expiration.
          format: int32
    EntryDto:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/EntryKeyDto'
        owner:
          $ref: '#/components/schemas/DocumentInfoDto'
    TransferDto:
      required:
        - amount
        - channel
        - currency
        - endToEndId
        - recipient
        - senderInfo
        - transactionType
      type: object
      properties:
        transactionType:
          type: string
          description: 'Message type used on SPI transaction, e.g.: "PACS.008", "PACS.004".'
        endToEndId:
          type: string
          description: >-
            Unique identification assigned by the initiating party to
            unambiguously identify the transaction, same value used on PACS.008
            and PACS.004 message.
        txId:
          type: string
          description: >-
            Transaction Identification used on PACS messages for SPI on PIX
            transactions by QRCode or Link.
          nullable: true
        channel:
          type: string
          description: Channel origin for the transaction.
        qrCode:
          $ref: '#/components/schemas/QrCodeInfoDto'
        urlLink:
          $ref: '#/components/schemas/UrlInfoDto'
        recipient:
          $ref: '#/components/schemas/TransferRecipientInfoDto'
        senderInfo:
          $ref: '#/components/schemas/DocumentInfoDto'
        currency:
          type: string
          description: Currency used on transfer.
        amount:
          type: number
          description: Amount value on transfer.
          format: double
        sessionId:
          type: string
          description: SessionId value used in behavior analytics integration.
          nullable: true
        referenceDate:
          type: string
          description: Transaction datetime value.
          format: date-time
    CreateFraudCommand:
      required:
        - participant
        - visibility
      type: object
      properties:
        participant:
          type: string
          description: Bank number.
        summary:
          type: string
          description: Summary about fraud event.
          nullable: true
        description:
          type: string
          description: Description about fraud event.
          nullable: true
        visibility:
          type: integer
          description: >-
            Visibility value, mark: 1 - Only you can see; 2 - You'll colaborate
            with others.
          format: int32
        referenceDate:
          type: string
          description: Fraud event UTC datetime value.
          format: date-time
        status:
          type: integer
          description: >-
            Fraud status: 0 - Suspected fraud; 1 - Fraud confirmed; 2 -
            Suspected fraud descarted; 3 - Fraud archived;
          format: int32
        relatedEntries:
          type: array
          items:
            $ref: '#/components/schemas/EntryDto'
          description: List of entry data related on fraud event
          nullable: true
        relatedQrCode:
          type: array
          items:
            $ref: '#/components/schemas/QrCodeInfoDto'
          description: List of QRCode data related on fraud event
          nullable: true
        relatedUrlLink:
          type: array
          items:
            $ref: '#/components/schemas/UrlInfoDto'
          description: List of URL Link data related on fraud event
          nullable: true
        relatedTransfers:
          type: array
          items:
            $ref: '#/components/schemas/TransferDto'
          description: List of transfers data related on fraud event
          nullable: true
    FraudResultDto:
      type: object
  securitySchemes:
    Bearer:
      type: apiKey
      description: "Enter 'Bearer' [space] and then your token in the text input below.\r\n\r\nExample: \"Bearer abcd1234\""
      name: Authorization
      in: header
security:
  - Bearer: []
